.p-Home.Flex4 {
display: flex;
justify-content: center;
align-items: center;
box-sizing: border-box;
padding-top: 25px;
padding-bottom: 25px;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Flex1 {
display: flex;
width: 85%;
align-items: center;
box-sizing: border-box;
justify-content: space-between;
column-gap: 150px;
}
.p-Home.Flex2 {
display: flex;
align-items: center;
font-size: 18px;
column-gap: 25px;
color: #696969;
font-family: ;
font-weight: 500;
}
.p-Home.Flex3 {
display: flex;
box-sizing: inherit;
column-gap: 35px;
font-family: ;
font-weight: 500;
}
.p-Home.Flex5 {
display: flex;
padding-top: ;
}
.p-Home.Flex6 {
display: flex;
flex-grow: 1;
flex-direction: column;
align-items: stretch;
justify-content: center;
padding-left: 140px;
font-family: DM Sans;
font-weight: 500;
row-gap: 25px;
padding-top: 20px;
}
.p-Home.Flex9 {
display: flex;
flex-direction: column;
}
.p-Home.Flex10 {
display: flex;
flex-direction: column;
row-gap: 22px;
width: 75%;
}
.p-Home.Flex8 {
display: flex;
box-sizing: inherit;
column-gap: 35px;
font-family: ;
font-weight: 500;
width: ;
}
.p-Home.Flex7 {
display: flex;
background-color: #FF7629;
padding-top: 35px;
padding-bottom: 35px;
box-sizing: border-box;
width: 70%;
}
.p-Home.Flex11 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 15px;
padding-top: 60px;
padding-bottom: 60px;
}
.p-Home.Flex13 {
display: flex;
column-gap: 50px;
}
.p-Home.Flex14 {
display: flex;
flex-direction: column;
box-sizing: border-box;
justify-content: flex-start;
align-items: center;
align-content: stretch;
row-gap: 50px;
padding-top: 60px;
padding-bottom: 60px;
}
.p-Home.Flex15 {
display: flex;
column-gap: 30px;
padding-left: 140px;
padding-right: 140px;
}
.p-Home.Flex17 {
display: flex;
flex-direction: column;
box-sizing: border-box;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-width: px;
border-color: #cececeff;
border-style: solid;
padding-top: 40px;
padding-bottom: 40px;
padding-right: 20px;
padding-left: 20px;
}
.p-Home.Flex24 {
display: flex;
flex-direction: column;
box-sizing: border-box;
align-items: center;
row-gap: 20px;
padding-top: 40px;
padding-right: 20px;
padding-bottom: 40px;
padding-left: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cecece;
}
.p-Home.Flex25 {
display: flex;
flex-direction: column;
box-sizing: border-box;
align-items: center;
row-gap: 20px;
padding-top: 40px;
padding-right: 20px;
padding-bottom: 40px;
padding-left: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cecece;
}
.p-Home.Flex26 {
display: flex;
flex-direction: column;
box-sizing: border-box;
align-items: center;
row-gap: 20px;
padding-top: 40px;
padding-right: 20px;
padding-bottom: 40px;
padding-left: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cecece;
}
.p-Home.Flex16 {
display: flex;
box-sizing: inherit;
column-gap: 35px;
font-family: ;
font-weight: 500;
width: ;
}
.p-Home.Flex27 {
display: flex;
background-color: #FFF9F3;
padding-top: 120px;
padding-bottom: ;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #8D8D8D;
box-sizing: border-box;
column-gap: 140px;
padding-left: 140px;
padding-right: 100px;
}
.p-Home.Flex28 {
display: flex;
flex-grow: 1;
align-items: center;
justify-content: center;
box-sizing: border-box;
position: static;
flex-direction: column;
padding-top: ;
}
.p-Home.Flex30 {
display: flex;
flex-direction: column;
padding-top: 50px;
padding-right: 150px;
padding-bottom: 50px;
padding-left: 50px;
border-radius: 30px;
background-color: #ffffff;
row-gap: 25px;
box-sizing: border-box;
position: relative;
width: 420px;
bottom: 200px;
left: 140px;
z-index: 100;
}
.p-Home.Flex31 {
display: flex;
column-gap: 20px;
align-items: center;
box-sizing: border-box;
}
.p-Home.Div2 {
;
}
.p-Home.Flex38 {
display: flex;
column-gap: 20px;
align-items: center;
}
.p-Home.Div9 {
;
}
.p-Home.Flex40 {
display: flex;
column-gap: 20px;
align-items: center;
}
.p-Home.Div11 {
;
}
.p-Home.Flex29 {
display: flex;
flex-grow: 1;
}
.p-Home.Flex44 {
display: flex;
flex-grow: 1;
flex-direction: column;
align-items: stretch;
justify-content: flex-start;
padding-left: ;
font-family: DM Sans;
font-weight: 500;
row-gap: 25px;
padding-top: 100px;
box-sizing: border-box;
color: #8D8D8D;
}
.p-Home.Flex42 {
display: flex;
flex-direction: column;
row-gap: 22px;
width: 75%;
box-sizing: border-box;
}
.p-Home.Flex41 {
display: flex;
box-sizing: inherit;
column-gap: 35px;
font-family: ;
font-weight: 500;
width: ;
}
.p-Home.Flex43 {
display: flex;
flex-direction: column;
box-sizing: border-box;
column-gap: ;
row-gap: 20px;
}
.p-Home.Flex45 {
display: flex;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #686868;
flex-direction: column;
padding-left: 140px;
padding-right: 140px;
align-items: center;
justify-content: flex-start;
text-align: center;
row-gap: 80px;
padding-top: 100px;
padding-bottom: 100px;
box-sizing: border-box;
}
.p-Home.Flex46 {
display: flex;
flex-direction: column;
text-align: center;
row-gap: 20px;
width: 60%;
align-self: auto;
box-sizing: border-box;
}
.p-Home.Flex47 {
display: flex;
column-gap: 20px;
box-sizing: border-box;
}
.p-Home.Flex48 {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
row-gap: 10px;
box-sizing: border-box;
}
.p-Home.Div14 {
width: ;
}
.p-Home.Flex52 {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
row-gap: 10px;
box-sizing: border-box;
}
.p-Home.Div15 {
width: ;
}
.p-Home.Flex53 {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
row-gap: 10px;
box-sizing: border-box;
}
.p-Home.Div16 {
width: ;
}
.p-Home.Flex54 {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
row-gap: 10px;
box-sizing: border-box;
}
.p-Home.Div17 {
width: ;
}
.p-Home.Flex55 {
display: flex;
flex-direction: column;
row-gap: 40px;
text-align: center;
align-items: center;
}
.p-Home.Flex56 {
display: flex;
}
.p-Home.Flex62 {
display: flex;
column-gap: 20px;
box-sizing: border-box;
}
.p-Home.Flex58 {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
row-gap: 10px;
box-sizing: border-box;
}
.p-Home.Div18 {
width: ;
}
.p-Home.Flex59 {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
row-gap: 10px;
box-sizing: border-box;
}
.p-Home.Div19 {
width: ;
}
.p-Home.Flex60 {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
row-gap: 10px;
box-sizing: border-box;
}
.p-Home.Div20 {
width: ;
}
.p-Home.Flex61 {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
row-gap: 10px;
box-sizing: border-box;
}
.p-Home.Div21 {
width: ;
}
.p-Home.Flex57 {
display: flex;
box-sizing: inherit;
column-gap: 35px;
font-family: ;
font-weight: 500;
width: ;
align-self: auto;
}
.p-Home.Flex63 {
display: flex;
width: ;
}
.p-Home.Flex70 {
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: center;
padding-left: 140px;
font-family: DM Sans;
font-weight: 500;
row-gap: 25px;
padding-top: ;
background-color: #FF7629;
padding-right: ;
width: 45%;
box-sizing: border-box;
}
.p-Home.Flex68 {
display: flex;
flex-direction: column;
row-gap: 30px;
width: 75%;
box-sizing: border-box;
}
.p-Home.Flex67 {
display: flex;
box-sizing: inherit;
column-gap: 35px;
font-family: ;
font-weight: 500;
width: ;
}
.p-Home.Flex71 {
display: flex;
flex-grow: 2;
width: 55%;
box-sizing: border-box;
}
.p-Home.Flex72 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
align-content: stretch;
padding-top: 100px;
padding-right: ;
padding-bottom: 100px;
}
.p-Home.Flex73 {
display: flex;
flex-direction: column;
text-align: center;
row-gap: 20px;
width: 60%;
align-self: auto;
box-sizing: border-box;
}
.p-Home.Flex74 {
display: flex;
flex-direction: row;
box-sizing: border-box;
align-items: center;
column-gap: 50px;
width: 65%;
padding-top: 20px;
padding-bottom: 50px;
}
.p-Home.Flex76 {
display: flex;
box-sizing: border-box;
}
.p-Home.Flex77 {
display: flex;
flex-direction: column;
row-gap: 15px;
flex-grow: 1;
box-sizing: border-box;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
padding-top: 40px;
padding-right: 40px;
padding-bottom: 40px;
padding-left: 40px;
border-radius: 15px;
border-style: solid;
border-width: ;
border-color: #d5d5d5;
}
.p-Home.Flex79 {
display: flex;
column-gap: 5px;
}
.p-Home.Flex80 {
display: flex;
flex-direction: column;
row-gap: 15px;
}
.p-Home.Flex81 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex82 {
display: flex;
flex-direction: column;
row-gap: 5px;
}
.p-Home.Flex78 {
display: flex;
box-sizing: border-box;
}
.p-Home.Flex75 {
display: flex;
}
.p-Home.Flex83 {
display: flex;
box-sizing: inherit;
column-gap: 35px;
font-family: ;
font-weight: 500;
width: ;
align-self: auto;
}
.p-Home.Flex102 {
display: flex;
align-items: stretch;
justify-content: center;
background-color: #FFF9F3;
}
.p-Home.Flex119 {
display: flex;
flex-direction: column;
background-color: ;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
width: 85%;
row-gap: 35px;
padding-top: 100px;
padding-bottom: 80px;
align-items: stretch;
justify-content: flex-start;
}
.p-Home.Flex117 {
display: flex;
column-gap: 80px;
}
.p-Home.Flex115 {
display: flex;
flex-grow: 1;
flex-direction: column;
row-gap: 25px;
column-gap: 30px;
}
.p-Home.Flex112 {
display: flex;
column-gap: 25px;
}
.p-Home.Flex107 {
display: flex;
flex-direction: column;
border-radius: 30px;
word-wrap: break-word;
background-color: #ffffff;
box-sizing: border-box;
width: 244px;
row-gap: 25px;
height: ;
}
.p-Home.Flex103 {
display: flex;
flex-direction: column;
box-sizing: border-box;
row-gap: 15px;
padding-top: ;
padding-bottom: 30px;
padding-left: 20px;
padding-right: 30px;
}
.p-Home.Flex108 {
display: flex;
flex-direction: column;
border-radius: 30px;
word-wrap: break-word;
background-color: #ffffff;
box-sizing: border-box;
width: 244px;
row-gap: 25px;
}
.p-Home.Flex104 {
display: flex;
flex-direction: column;
box-sizing: border-box;
row-gap: 15px;
padding-top: ;
padding-bottom: 30px;
padding-left: 20px;
padding-right: 30px;
}
.p-Home.Flex113 {
display: flex;
column-gap: 25px;
}
.p-Home.Flex109 {
display: flex;
flex-direction: column;
border-radius: 30px;
word-wrap: break-word;
background-color: #ffffff;
box-sizing: border-box;
width: 244px;
row-gap: 25px;
}
.p-Home.Flex105 {
display: flex;
flex-direction: column;
box-sizing: border-box;
row-gap: 15px;
padding-top: ;
padding-bottom: 30px;
padding-left: 20px;
padding-right: 30px;
}
.p-Home.Flex110 {
display: flex;
flex-direction: column;
border-radius: 30px;
word-wrap: break-word;
background-color: #ffffff;
box-sizing: border-box;
width: 244px;
row-gap: 25px;
height: ;
}
.p-Home.Flex106 {
display: flex;
flex-direction: column;
box-sizing: border-box;
row-gap: 15px;
padding-top: ;
padding-bottom: 30px;
padding-left: 20px;
padding-right: 30px;
}
.p-Home.Flex116 {
display: flex;
flex-direction: column;
box-sizing: border-box;
}
.p-Home.Flex114 {
display: flex;
flex-direction: column;
border-radius: 30px;
word-wrap: break-word;
background-color: #ffffff;
box-sizing: border-box;
width: 508px;
row-gap: 30px;
}
.p-Home.Flex111 {
display: flex;
flex-direction: column;
box-sizing: border-box;
row-gap: 15px;
padding-top: ;
padding-bottom: 30px;
padding-left: 20px;
padding-right: 30px;
}
.p-Home.Flex118 {
display: flex;
justify-content: space-between;
align-items: center;
}
.p-Home.Flex120 {
display: flex;
font-family: DM Sans;
font-weight: 500;
color: #727171;
column-gap: 100px;
align-items: center;
padding-top: ;
}
.p-Home.Flex124 {
display: flex;
flex-direction: column;
padding-top: ;
padding-right: 210px;
padding-bottom: ;
padding-left: 140px;
border-radius: ;
background-color: #ffffff;
row-gap: 25px;
box-sizing: border-box;
position: static;
width: 55%;
z-index: 100;
}
.p-Home.Flex121 {
display: flex;
column-gap: 20px;
align-items: center;
}
.p-Home.Div22 {
;
}
.p-Home.Flex122 {
display: flex;
column-gap: 20px;
align-items: center;
}
.p-Home.Div23 {
;
}
.p-Home.Flex123 {
display: flex;
column-gap: 20px;
align-items: center;
box-sizing: border-box;
}
.p-Home.Div24 {
;
}
.p-Home.Flex125 {
display: flex;
background-color: #FF7629;
padding-top: 80px;
padding-bottom: 80px;
box-sizing: border-box;
width: 45%;
}
.p-Home.Flex126 {
display: flex;
background-color: #ffffff;
border-radius: 40px;
width: 430px;
flex-direction: column;
padding-top: 80px;
padding-right: 50px;
padding-bottom: 30px;
padding-left: 50px;
row-gap: 30px;
border-style: solid;
border-color: #d9d4d4;
position: relative;
right: 250px;
z-index: 100;
}
.p-Home.Flex127 {
display: flex;
width: ;
column-gap: 20px;
}
.p-Home.Flex131 {
display: flex;
width: ;
flex-grow: 1;
flex-direction: column;
align-items: stretch;
align-content: stretch;
justify-content: space-around;
row-gap: 20px;
}
.p-Home.Flex132 {
display: flex;
flex-grow: 1;
flex-direction: column;
justify-content: space-around;
row-gap: 20px;
}
.p-Home.Flex144 {
display: flex;
width: ;
column-gap: 20px;
}
.p-Home.Flex142 {
display: flex;
flex-grow: 1;
flex-direction: column;
justify-content: space-around;
row-gap: 20px;
}
.p-Home.Flex143 {
display: flex;
width: ;
flex-grow: 1;
flex-direction: column;
align-items: stretch;
align-content: stretch;
justify-content: space-around;
row-gap: 20px;
}
.p-Home.Flex147 {
display: flex;
width: ;
column-gap: 20px;
}
.p-Home.Flex145 {
display: flex;
flex-grow: 1;
flex-direction: column;
justify-content: space-around;
row-gap: 20px;
}
.p-Home.Flex146 {
display: flex;
width: ;
flex-grow: 1;
flex-direction: column;
align-items: stretch;
align-content: stretch;
justify-content: space-around;
row-gap: 20px;
}
.p-Home.Flex150 {
display: flex;
width: ;
}
.p-Home.Flex149 {
display: flex;
width: ;
flex-grow: 1;
flex-direction: column;
align-items: stretch;
align-content: stretch;
justify-content: space-around;
row-gap: 20px;
}
.p-Home.Flex151 {
display: flex;
flex-direction: column;
row-gap: 40px;
padding-top: 100px;
padding-bottom: 100px;
justify-content: flex-start;
font-family: DM Sans;
font-weight: 700;
background-color: #FFF9F3;
}
.p-Home.Flex152 {
display: flex;
justify-content: space-between;
align-items: center;
width: 85%;
align-self: center;
}
.p-Home.Flex153 {
display: flex;
justify-content: center;
box-sizing: border-box;
align-items: stretch;
column-gap: 30px;
width: 70%;
align-self: center;
}
.p-Home.Flex156 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex157 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex159 {
display: flex;
column-gap: 20px;
}
.p-Home.Image1 {
width: 244px;
height: 33px;
}
.p-Home.TextBox1 {
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox2 {
;
}
.p-Home.TextBox3 {
;
}
.p-Home.TextBox4 {
word-wrap: normal;
color: ;
}
.p-Home.TextBox5 {
;
}
.p-Home.Button1 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button2 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox6 {
font-size: 50px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox7 {
font-size: 50px;
font-family: DM Sans;
font-weight: 700;
color: #FF7629;
}
.p-Home.TextBox8 {
font-family: DM Sans;
font-weight: ;
color: #757575;
font-size: 18px;
}
.p-Home.Button3 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button4 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image2 {
width: 85%;
height: ;
position: relative;
right: 150px;
border-radius: 10px;
}
.p-Home.TextBox9 {
font-family: DM Sans;
font-weight: 700;
font-size: 21px;
}
.p-Home.Image3 {
;
}
.p-Home.Image6 {
width: 200px;
height: 34px;
}
.p-Home.Image7 {
;
}
.p-Home.Image8 {
;
}
.p-Home.TextBox10 {
font-family: DM Sans;
font-weight: 700;
font-size: 25px;
}
.p-Home.Link1 {
;
}
.p-Home.Image9 {
width: 114px;
}
.p-Home.TextBox11 {
font-size: 20px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox15 {
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #676767;
}
.p-Home.TextBox122 {
color: #ff7629;
font-size: 17px;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox18 {
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #676767;
}
.p-Home.TextBox19 {
font-size: 20px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.Image13 {
width: 114px;
}
.p-Home.TextBox123 {
color: #ff7629;
font-size: 17px;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox21 {
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #676767;
}
.p-Home.TextBox22 {
font-size: 20px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.Image14 {
width: 114px;
}
.p-Home.TextBox124 {
color: #ff7629;
font-size: 17px;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox24 {
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #676767;
}
.p-Home.TextBox25 {
font-size: 20px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.Image15 {
width: 114px;
}
.p-Home.TextBox125 {
color: #ff7629;
font-size: 17px;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Button5 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button6 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image16 {
width: 460px;
height: 526px;
border-radius: 25px;
}
.p-Home.TextBox26 {
font-size: 20px;
color: #000000;
}
.p-Home.TextBox27 {
;
}
.p-Home.Image17 {
;
}
.p-Home.TextBox34 {
;
}
.p-Home.Image24 {
;
}
.p-Home.TextBox36 {
;
}
.p-Home.Image26 {
;
}
.p-Home.TextBox37 {
font-family: DM Sans;
font-weight: 500;
color: ;
font-size: 16px;
}
.p-Home.Button7 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button8 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox39 {
font-size: 32px;
font-family: DM Sans;
font-weight: 700;
color: #000000;
}
.p-Home.TextBox40 {
font-family: DM Sans;
font-weight: ;
color: ;
font-size: 16px;
}
.p-Home.TextBox41 {
font-family: DM Sans;
font-weight: 500;
text-align: left;
align-self: auto;
padding-left: ;
}
.p-Home.TextBox42 {
font-size: 32px;
color: #000000;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox44 {
font-family: DM Sans;
font-size: ;
background-color: #ffffff;
border-radius: 15px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
text-align: left;
align-self: center;
color: #000000;
position: absolute;
top: 15px;
right: 15px;
font-weight: 500;
}
.p-Home.TextBox45 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
color: #000000;
}
.p-Home.TextBox46 {
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image28 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox47 {
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox48 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
color: #000000;
}
.p-Home.TextBox49 {
font-family: DM Sans;
font-size: ;
background-color: #ffffff;
border-radius: 15px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
text-align: left;
align-self: center;
color: #000000;
position: absolute;
top: 15px;
right: 15px;
font-weight: 500;
}
.p-Home.Image29 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox50 {
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox51 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
color: #000000;
}
.p-Home.TextBox52 {
font-family: DM Sans;
font-size: ;
background-color: #ffffff;
border-radius: 15px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
text-align: left;
align-self: center;
color: #000000;
position: absolute;
top: 15px;
right: 15px;
font-weight: 500;
}
.p-Home.Image30 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox53 {
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox54 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
color: #000000;
}
.p-Home.TextBox55 {
font-family: DM Sans;
font-size: ;
background-color: #ffffff;
border-radius: 15px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
text-align: left;
align-self: center;
color: #000000;
position: absolute;
top: 15px;
right: 15px;
font-weight: 500;
}
.p-Home.Image31 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox56 {
font-family: DM Sans;
font-size: ;
background-color: #ffffff;
border-radius: 15px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
text-align: left;
align-self: center;
color: #000000;
position: absolute;
top: 15px;
right: 15px;
font-weight: 500;
}
.p-Home.TextBox57 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
color: #000000;
}
.p-Home.TextBox58 {
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image32 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox59 {
font-family: DM Sans;
font-size: ;
background-color: #ffffff;
border-radius: 15px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
text-align: left;
align-self: center;
color: #000000;
position: absolute;
top: 15px;
right: 15px;
font-weight: 500;
}
.p-Home.TextBox60 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
color: #000000;
}
.p-Home.TextBox61 {
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image33 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox62 {
font-family: DM Sans;
font-size: ;
background-color: #ffffff;
border-radius: 15px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
text-align: left;
align-self: center;
color: #000000;
position: absolute;
top: 15px;
right: 15px;
font-weight: 500;
}
.p-Home.TextBox63 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
color: #000000;
}
.p-Home.TextBox64 {
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image34 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox65 {
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox66 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
color: #000000;
}
.p-Home.TextBox67 {
font-family: DM Sans;
font-size: ;
background-color: #ffffff;
border-radius: 15px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
text-align: left;
align-self: center;
color: #000000;
position: absolute;
top: 15px;
right: 15px;
font-weight: 500;
}
.p-Home.Image35 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.Button9 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button10 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox70 {
font-size: 38px;
font-family: DM Sans;
font-weight: 700;
color: #ffffff;
box-sizing: border-box;
padding-right: 56px;
}
.p-Home.TextBox68 {
font-family: DM Sans;
font-weight: ;
color: #ffffff;
font-size: 16px;
}
.p-Home.Button11 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button12 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image36 {
width: 100%;
}
.p-Home.TextBox71 {
font-size: 32px;
color: #000000;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox72 {
font-family: DM Sans;
font-weight: 500;
text-align: left;
align-self: auto;
padding-left: ;
color: #727272;
}
.p-Home.Image37 {
width: 60px;
height: 60px;
background-color: #FF7629;
border-radius: 50px;
padding-top: 4px;
padding-right: 4px;
padding-bottom: 4px;
padding-left: 4px;
box-sizing: border-box;
}
.p-Home.Image39 {
width: 30px;
height: 30px;
box-sizing: border-box;
}
.p-Home.Image45 {
width: 30px;
height: 30px;
box-sizing: border-box;
}
.p-Home.Image46 {
width: 30px;
height: 30px;
box-sizing: border-box;
}
.p-Home.Image47 {
width: 30px;
height: 30px;
box-sizing: border-box;
}
.p-Home.Image48 {
width: 30px;
height: 30px;
box-sizing: border-box;
}
.p-Home.TextBox73 {
font-size: 24px;
border-color: #d5d5d5;
}
.p-Home.TextBox74 {
font-size: 14px;
color: #716f6f;
}
.p-Home.Image44 {
width: 50px;
height: 50px;
border-radius: 50px;
box-sizing: border-box;
}
.p-Home.TextBox77 {
;
}
.p-Home.TextBox78 {
color: #595858;
}
.p-Home.Image38 {
width: 60px;
height: 60px;
padding-top: 4px;
padding-right: 4px;
padding-bottom: 4px;
padding-left: 4px;
border-radius: 50px;
background-color: #FF7629;
box-sizing: border-box;
}
.p-Home.Button13 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button14 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image54 {
box-sizing: border-box;
width: ;
height: ;
border-radius: ;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.p-Home.TextBox96 {
font-size: 16px;
}
.p-Home.TextBox97 {
color: #737373;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
}
.p-Home.Image55 {
box-sizing: border-box;
width: ;
height: ;
border-radius: ;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.p-Home.TextBox98 {
font-size: 16px;
}
.p-Home.TextBox99 {
color: #737373;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
}
.p-Home.Image56 {
box-sizing: border-box;
width: ;
height: ;
border-radius: ;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.p-Home.TextBox100 {
color: #737373;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
}
.p-Home.TextBox101 {
font-size: 16px;
background-position-x: ;
}
.p-Home.Image57 {
box-sizing: border-box;
width: ;
height: ;
border-radius: ;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.p-Home.TextBox102 {
color: #737373;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
}
.p-Home.TextBox103 {
font-size: 16px;
}
.p-Home.Image58 {
box-sizing: border-box;
width: 508px;
height: 450px;
border-radius: ;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.p-Home.TextBox104 {
color: #737373;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox105 {
font-size: 25px;
}
.p-Home.TextBox106 {
color: #737373;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
}
.p-Home.Button16 {
color: #000000;
background-color: #ffffff;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox107 {
font-size: 32px;
}
.p-Home.TextBox111 {
font-size: 34px;
color: #000000;
width: ;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox112 {
;
}
.p-Home.TextBox108 {
;
}
.p-Home.Image59 {
;
}
.p-Home.TextBox109 {
;
}
.p-Home.Image60 {
;
}
.p-Home.TextBox110 {
box-sizing: border-box;
}
.p-Home.Image61 {
;
}
.p-Home.Button17 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: DM Sans;
width: 40%;
}
.p-Home.TextBox113 {
font-family: DM Sans;
font-weight: 700;
color: #000000;
font-size: 18px;
}
.p-Home.Input2 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox114 {
font-family: DM Sans;
font-weight: 700;
color: #000000;
font-size: 18px;
}
.p-Home.Input3 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.Input4 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox115 {
font-family: DM Sans;
font-weight: 700;
color: #000000;
font-size: 18px;
}
.p-Home.Input5 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox116 {
font-family: DM Sans;
font-weight: 700;
color: #000000;
font-size: 18px;
}
.p-Home.Input6 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox117 {
font-family: DM Sans;
font-weight: 700;
color: #000000;
font-size: 18px;
}
.p-Home.Input7 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox118 {
font-family: DM Sans;
font-weight: 700;
color: #000000;
font-size: 18px;
}
.p-Home.Input9 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
height: 180px;
align-self: auto;
text-align: center;
}
.p-Home.TextBox120 {
font-family: DM Sans;
font-weight: 700;
color: #000000;
font-size: 18px;
}
.p-Home.TextBox121 {
font-size: 32px;
}
.p-Home.Button19 {
color: #fff;
background-color: #FF7629;
padding-top: 15px;
padding-left: 30px;
padding-bottom: 15px;
padding-right: 30px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image63 {
width: 300px;
height: 300px;
box-sizing: border-box;
border-radius: 30px;
}
.p-Home.Image64 {
box-sizing: border-box;
width: 300px;
height: 300px;
border-radius: 30px;
}
.p-Home.Image66 {
box-sizing: border-box;
width: 145px;
border-radius: 30px;
height: 145px;
}
.p-Home.Image70 {
box-sizing: border-box;
width: 145px;
border-radius: 30px;
}
.p-Home.Image71 {
box-sizing: border-box;
width: 145px;
border-radius: 30px;
}
.p-Home.Image72 {
box-sizing: border-box;
width: 145px;
border-radius: 30px;
height: 145px;
}
